Source: ati85
Section: user/other
Priority: optional
Maintainer: Marat Fayzullin <marat@komkon.org>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.1

Package: ati85
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: TI programmable calculator emulator
 AlmostTI85 (ATI85) will emulate TI82, TI83, TI83+, TI85,
 and TI86 programmable calculators from Texas Instruments.
XB-Maemo-Display-Name: AlmostTI Graphing Calc Emulator
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABHNCSVQICAgI
 fAhkiAAAAAlwSFlzAAAEFwAABBcBAnMs3gAAABl0RVh0U29mdHdhcmUAd3d3
 Lmlua3NjYXBlLm9yZ5vuPBoAAAK3SURBVEiJ7ZZNTxNBGMd/s92W0i4vgo0r
 ITaiQkhqjMGEL8DJeCOExIMH49WXA+HgAYRED9zUiwfixS+ghsg3IJZIYoCE
 hCCwaVKBbru1W2BbSscDLYJdgfB28n+aPDPP/zfPszOTFVJKzkPKuVAAdc9Y
 DA8PP8xms08dx7leLBaPtQlFUYp+v39B07TXAwMD7wEJIMqt6+/vf7OysvLY
 7/cjhDjR7qWUOI6DrutvR0ZGnuyChoaGAvPz81lN0yoIuq6Ty+VIp9M0NzeT
 z+exbZva2lrW19dRFAVd11lbW8OyrH252WxWtra2aoODgxsqgGmaXVLKCkgg
 EKCnp4fp6WkmJibo7u4mlUqRTCYJBAIkEgl8Ph9er5fl5WW3yoRpml3A5x1Q
 PB7xBoMVC0OhENFoFFVVaWtrY3JyEiEEqVSKcDhMPB6npqaGfD5PLperyFdV
 FTMej+yCCo6juYEMw8AwDLfPwNzcnGv8bxUcR4M9p67KsvDZmSMlH1XFwjab
 pbEKIAsF1bc4Q1Xq5+mCGi4jW26qULqw26YZ4ixeCCl3vClX9I/LebHlBvff
 fXD1GHvRz53eB+jtET49f4bx7as7q+Stus6W5AsGudLR6ToXqG9Ab49wpaOT
 6rr6g2yAQ966+Mx3+hoFfY2CQun4vrp9lb5GweyXj4eaHxl0mvoPOhlIQPGs
 AGXvnYq2ttbOClT2VgHsWMzIhzSqD1j/8lYYhGA9mdiNjfbexeP1sZFOuebk
 UbBjMeMPKJMZT/s81CkKFN27aCdWK2IbljsAAEUh/WsTO5MZh1LrolIuLViZ
 qWRdE9Jz4GNxJEmPSrKuiQUrMxWVcgn2/DO0CHHJA6Nalfde+EINfu/xgM5W
 AcOyyea2xrbh0aKUq/tAZUWEaNiEawp4jgMqwnY1/JiVcl9fK0Bnpd8ZmyJ9
 SOly9gAAAABJRU5ErkJggg
